div {margin:0; padding:0;}
#container{
	display:flex;
	flex-direction:row;
	pointer-events: auto!important;
}
#runDiv, #blocklyDiv {
	height: 480px; 
	border: solid 10px grey;
	border-radius : 20px;
	margin: 0 3px;
}
#blocklyDiv{
	width:480px;
}
#runDiv {
	text-align:center;
}
/*#runDiv{
	border: solid 10px grey;
	border-radius: 20px;
	text-align: center;
	width:60%;
}*/
#rabbitCanavas {
	/*width: 90%;*/
	height: 400px;
	/*border: blue 1px solid;*/
}
/*#lottoNumber {
	colpr: white;
	background-color: blue;
	font-size: 2em; /* o.style.fontSize = "2em";*/
/*	width: 80%;
	border: white 3px solid;
	border-radius: 12px 12px;
	margin: auto;
	text-align: center;
}*/